<form (submit)="save()" #form="ngForm">
    
    <div class="grid">

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required
               [(ngModel)]="registro.nome">

        <label for="registroConselho">Registro</label>
        <input type="text" name="registroConselho" id="registroConselho" required
               [(ngModel)]="registro.registroConselho">

        <label for="especialidade">Especialidade</label>
        <select [compareWith]="compareById" name="especialidade" id="especialidade" required
                [(ngModel)]="registro.especialidade">
            <option *ngFor="let e of especialidades" [ngValue]="e">{{e.nome}}</option>
        </select>

        <label for="unidade">Unidade</label>
        <select [compareWith]="compareById" name="unidade" id="unidade" required
                [(ngModel)]="registro.unidade">
            <option *ngFor="let u of unidades" [ngValue]="u">{{u.nome}}</option>
        </select>

        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone" required
               [(ngModel)]="registro.telefone">

        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required
               [(ngModel)]="registro.email">
        
    </div>

    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="form.invalid">
    
</form>
